---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Rooms from '../components/Rooms.astro';
import LocalGuide from '../components/LocalGuide.astro';
import Gallery from '../components/Gallery.astro';
import Reserve from '../components/Reserve.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Navbar />
  <main>
    <Hero />
    <Philosophy />
    <Rooms />
    <LocalGuide />
    <Gallery />
    <Reserve />
  </main>
  <Footer />
</Layout>
